<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Harmoniq</title>
    <link rel="stylesheet" href="/public/site.css">
</head>

<body>

    <main>
        {{{body}}}
    </main>

    <footer>Harmoniq CS546 </footer>

    <script src="/public/main.js"></script>

</body>

</html>