<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Harmoniq</title>
    <link rel="stylesheet" href="/public/css/site.css">
</head>



<body>
    <header class = 'site-header'>
        <ul class="navbar">
            {{#unless login}}
            <li class="nav-item leftnav">
                <a class="nav-link" href="/feed">Feed</a>
            </li>
            <li class="nav-item leftnav">
                <a class="nav-link" href="/search">Search</a>
            </li>
            <li class="nav-item rightnav">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item rightnav">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item rightnav">
                <a class="nav-link" href="/notifications">Notification</a>
            </li>
            {{else}}
            <li class="nav-item leftnav">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item rightnav">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item rightnav">
                <a class="nav-link" href="/login">Login</a>
            </li>
            {{/unless}}
        </ul>
    </header>
    <main>

        {{!-- should we do it like this --}}
        {{#if error}}
        <div class="error" id="error">
            {{error}}
        </div>
        {{/if}}

        {{#if success}}
        <div class="success" id="success">
            {{success}}
        </div>
        {{/if}}

        
        {{{body}}}
    </main>

    <footer>Harmoniq CS546 </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
		crossorigin="anonymous"></script>
    <script src="/public/js/main.js"></script>
    <script src="/public/js/follow_functionality.js"></script>
    <script src="/public/js/comment.js"></script>

</body>

</html>