<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Harmoniq</title>
    <link rel="stylesheet" href="/public/site.css">
</head>

<body>

    <main>
        {{{body}}}
    </main>

    <footer>I'm a footer</footer>

</body>

</html>