<article>
    <h1>Welcome to Harmoniq</h1>
    <p>Connect with music lovers from around the world and share your passion for music.</p>
    <p>Harmoniq is a social media platform for music lovers.</p>
    <p>Share your favorite music, create posts, comments, and connect with other music lovers.</p>
    <p>Click on Register (Top Right) to get started today!</p>
</article>

<link rel="stylesheet" href="/public/css/home.css">
