<link rel="stylesheet" href="../public/css/loginsignup.css">

<div id = "errid">{{error}}</div>
<div class="container" id="container">
    <div class="form-container sign-up">
        <form id = 'register-form' action="/register" method="POST">
            <h1>Create Account</h1>
            <input type="email" placeholder="Email" name="regemailinput" id="regemailinput">
            <input type="text" placeholder="Username" name= "regusernameinput" id="regusernameinput">
            <input type="password" placeholder="Password" name= "regpasswordinput" id="regpasswordinput">
            <input type="password" placeholder="Confirm Password" name= "regconfirmpasswordinput" id="regconfirmpasswordinput">
            <button type="submit" >Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in">
        <form id = 'login-form' action="/login" method="POST">
            <h1>Sign In</h1>
            <input type="email" placeholder="Email" name= "liemailinput" id = 'liemailinput'>
            <input type="password" placeholder="Password" name= "lipasswordinput" id = 'lipasswordinput'>
            <button type="submit" >Sign In</button>
        </form>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1>Hi there!</h1>
                <p>Already Haven an Account?</p>
                <button class="hidden" id="login">Sign In</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>Welcome Back!</h1>
                <p>Don't have an Account? Join the community!</p>
                <button class="hidden" id="register">Sign Up</button>
            </div>
        </div>
    </div>
</div>

    <script src="../public/js/loginsignup.js"></script>