<a href="/feed">Feed</a>
<div class="container">
    <h1>Manage Account</h1>
    <form method="POST" id="editForm" action="/users/{{username}}/manage">
        <label for="username" id="usernameLabel">Username</label>
        <input type="text" name="username" id="username" placeholder="New Username">

        <label for="oldPassword" id="passwordLabel">Old Password</label>
        <input type="password" name="oldPassword" id="oldPassword" placeholder="Old Password">

        <label for="newPassword" id="passwordLabel">New Password</label>
        <input type="password" name="newPassword" id="newPassword" placeholder="New Password">

        <label for="confirmPassword" id="confirmPasswordLabel">Confirm Password</label>
        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">

        <label for="lastfmUsername" id="lastfmUsernameLabel">Lastfm Username</label>
        <input type="text" name="lastfmUsername" id="lastfmUsername" placeholder="New Lastfm Username (optional)">

        <button class="manageSubmit" type="submit">Submit</button>
    </form>
    <a href="/users/{{username}}" class="backToProfile">Back to Profile Page</a>
    <a href="/logout" class="logout">Logout</a>

    {{#if error}}
        <div class="error">
            <p>{{error}}</p>
        </div>
    {{/if}}

</div>
