<link rel="stylesheet" href="../public/css/profilepage.css">

<h1>{{username}}'s' Notifications</h1>
<section>
    {{#if notifications}}
        {{#each notifications}}
            <p class="noti">{{this.notification}}</p>
        {{/each}}
    {{else}}
        <p>No notifications yet</p>
    {{/if}}
</section>

<a href="/users/{{username}}" class="backToProfile">Go back to profile page</a>
